/*
Styles for older IE versions (previous to IE9).
*/
.genericon:before:hover,
.menu-toggle:after:hover,
.date a:before:hover,
.entry-meta .author a:before:hover,
.format-audio .entry-content:before:hover,
.comments-link a:before:hover,
.tags-links a:first-child:before:hover,
.categories-links a:first-child:before:hover,
.edit-link > a:before:hover,
.attachment-meta:before:hover,
.attachment-meta a:before:hover,
.comment-awaiting-moderation:before:hover,
.comment-reply-link:before:hover,
.comment-reply-title small a:before:hover,
.bypostauthor > .comment-body .fn:before:hover {
	text-decoration: none;
}
/* RTL for Internet Explorer 7 & 8 */
.rtl .format-audio .entry-content:before,
.rtl .comment-reply-link:before,
.rtl .comment-reply-login:before {
	-ms-filter: "FlipH";
	filter: FlipH;
}
